* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 80px 20px;
}

#faq-container {
        background: #fff;
        margin: 20px auto;
        max-width: 920px;
        width: calc(100% - 40px);
        padding: 50px;
}

h1 {
        text-align: center;
        padding: 0 0 40px 0;
        color: #1E1F36;
        font-family: Kumbh Sans;
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0px;
}

details {
        border-bottom: 1px solid lightgray;
        padding: 20px 0;
}

summary {
        list-style: none;
        color: #1E1F36;
        font-family: Kumbh Sans;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0px;
}

p {
        color: #7a7a8c;
        font-family: Kumbh Sans;
        font-size: 14px;
        padding: 15px 0 0 0;
}